@import "scss/variables.scss";

.hero {
  width: 100%;
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.3)),
    url("/img-optimized/me-hero-bg-alt.jpeg") center;
  background-size: cover;

  text-align: center;

  h1 {
    font-size: 55px;
    font-weight: 900;
    text-transform: uppercase;
    color: $white;
  }

  h2 {
    color: #eee;
    font-size: 22px;
    font-weight: 500;
    text-transform: none;
  }

  .btn-get-started {
    font-size: 66px;
    transition: 0.2s;
    color: $white;
    height: 1em;
    &:hover {
      padding-top: 1rem;
      color: $color-highlight;
    }
  }
}

@include media-breakpoint-up(lg) {
  .hero {
    background-attachment: fixed;
  }
}

@include media-breakpoint-down(md) {
  // .hero {
  //   h1 {
  //     font-size: 28px;
  //     line-height: 36px;
  //   }

  //   h2 {
  //     font-size: 18px;
  //     line-height: 24px;
  //     margin-bottom: 30px;
  //   }
  // }
}
