@import "scss/variables.scss";

.about-content {
  padding: 30px 0;

  h2 {
    // font-weight: 500;
    // font-size: 34px;
    margin-bottom: 15px;
    padding-bottom: 15px;
    &::after {
      @include highlight-underline;
    }
  }

  p {
    margin-bottom: 0;
  }

  .count-box {
    padding: 20px 0;

    i {
    }
  }

  .social-links {
    text-align: center;

    a {
      // display: inline-block;
      background: $white;
      color: $color-highlight;
      line-height: 0;
      border-radius: 50%;
      border: 2px solid $color-highlight;
      height: 3rem;
      width: 3rem;

      font-size: 1.5rem;

      transition: 0.2s;

      margin: 1rem auto;

      &:hover {
        background: $color-highlight;
        color: $white;
      }
    }
  }

  .contact-info {
    .contact-logo-container {
      background: $color-highlight;
      color: $white;
      border-radius: 50%;
      border: 2px solid $color-highlight;

      font-size: 1.5rem;

      height: 3rem;
      width: 3rem;

      margin: 1rem 0.5rem 1rem;
    }
  }
}

.about-image {
  background: url("/img/parth.jpeg") center center no-repeat;
  background-size: cover;
  min-height: 400px;
}
